{
	"api_url": "http://localhost/api",
	"contacts": [
		{"type": "email", "validation": "^.+@.+\\..+$", "icon": "email"},
		{"type": "pushover", "validation": "", "img": "pushover.ico"},
		{"type": "slack", "validation": "^[@#].+$", "img": "slack.ico"}
	]
}
