<div class="moira-menu row">
	<div class="container">
		<div class="col s12">
			<img class="left clickable" ng-click="go('/triggers/')" src="../../../css/img/moira.png">
			</img>
			<a class="btn-flat left" style="margin-left: 20px" ng-click="go('/trigger/')" ng-class="{'disabled': trigger_active, 'enabled': !trigger_active }">
				<i class="material-icons left">add</i>ADD TRIGGER
			</a>
			<a class="btn-flat right" href="http://moira.readthedocs.org/" style="color: white">
				<i class="material-icons">help</i>
			</a>
			<a class="btn-flat right" ng-click="go('/settings/')" ng-class="{'disabled': settings_active, 'enabled': !settings_active}">
				<i class="material-icons left">settings</i>{{login}} SETTINGS
			</a>
		</div>
	</div>
</div>