<div class="moira-selector left col s24 m10">
	<div style="height:100%; float:left">
		<ng-transclude></ng-transclude>
	</div>
	<div style="height:100%; overflow:hidden; padding-bottom:2px; border-bottom: 1px solid #d1d1d1">
		<div class="right grey-text text-darken-1" style="height:100%; padding-top:2px">
			<i ng-if="!model.open" class="material-icons md-17 v-middle clickable" ng-click="model.open = true">keyboard_arrow_down</i>
			<i ng-if="model.open" class="material-icons md-17 v-middle clickable" ng-click="model.open = false">clear</i>
		</div>
		<div style="height:100%; overflow:hidden;">
			<input type="text" ng-model="model.value" placeholder="{{placeholder}}" style="border: none; box-shadow:none; height:100%; margin:0px;"
			ng-blur="hide()" ng-focus="model.open = true" ng-click="model.open = true" ng-keydown="keyPress($event)" />
		</div>
	</div>
</div>
