<div class="container">
	<table class="highlight bordered">
		<tbody>
			<tr>
				<th>Timestamp</th>
				<th>Trigger</th>
				<th colspan="2">Contact</th>
				<th>Throttled</th>
				<th>Fails</th>
				<th>Remove</th>
			</tr>
			<tr ng-repeat="notification in list">
				<td>
					<moira-timestamp timestamp="notification.timestamp"></moira-timestamp>
				</td>
				<td ng-bind="notification.trigger"></td>
				<td ng-bind="notification.contact.type"></td>
				<td ng-bind="notification.contact.value"></td>
				<td ng-bind="notification.throttled"></td>
				<td ng-bind="notification.send_fail"></td>
				<td><i class="clickable material-icons" ng-click="ctrl.remove(notification)">delete</i></td>
			</tr>
		</tbody>
	</table>
</div>
